{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "extends": [
        "airbnb",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:react/recommended"
    ],
    "parser": "babel-eslint",
    "plugins": ["babel", "import", "jsx-a11y", "react"],
    "rules": {
        "arrow-body-style": [2, "as-needed"],
        "arrow-parens": [2, "as-needed"],
        "no-return-assign": 0,
        "brace-style": [2, "1tbs", { "allowSingleLine": true }],
        "capitalized-comments": 0,
        "comma-spacing": [
            2,
            {
                "after": true,
                "before": false
            }
        ],
        "comma-dangle": [2, "never"],
        "eol-last": [2, "always"],
        "eqeqeq": [2, "smart"],
        "import/extensions": "off",
        "global-require": 0,
        "jsx-a11y/anchor-is-valid": [
            2,
            {
                "aspects": ["invalidHref", "preferButton"],
                "components": ["Link"],
                "specialLink": ["route"]
            }
        ],
        "jsx-quotes": [2, "prefer-double"],
        "object-curly-newline": [
            2,
            {
                "ImportDeclaration": {
                    "consistent": true,
                    "multiline": true
                }
            }
        ],
        "quotes": [2, "double"],
        "quote-props": [2, "as-needed", { "keywords": true, "unnecessary": false }],
        "indent": [2, "tab", { "SwitchCase": 1 }],
        "dot-notation": 0,
        "import/prefer-default-export": 0,
        "no-shadow": 0,
        "no-plusplus": 0,
        "no-underscore-dangle": 0,
        "jsx-a11y/label-has-associated-control": 0,
        "react/no-this-in-sfc": 0,
        "react/state-in-constructor": [2, "never"],
        "react/jsx-props-no-spreading": 0,
        "jsx-a11y/interactive-supports-focus": 0,
        "react/jsx-one-expression-per-line": 0,
        "react/react-in-jsx-scope":0,
        "jsx-a11y/click-events-have-key-events": 0,
        "jsx-a11y/no-static-element-interactions": 0,
        "react/no-unused-state": 0,
        "no-unused-expressions": ["error", { "allowShortCircuit": true, "allowTernary": true }],
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/jsx-indent": [2, "tab"],
        "react/static-property-placement": 0,
        "react/jsx-indent-props": [2, "tab"],
        "react/jsx-equals-spacing": [2, "never"],
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [".js", ".jsx"]
            }
        ],
        "react/no-unused-prop-types": [
            2,
            {
                "skipShapeProps": false
            }
        ],
        "react/prop-types": [
            1,
            {
                "ignore": ["children", "className"]
            }
        ],
        "react/require-default-props": [0],
        "react/sort-prop-types": 2,
        "semi": [2, "always", { "omitLastInOneLineBlock": true }],
        "space-before-function-paren": [
            2,
            {
                "anonymous": "always",
                "named": "never",
                "asyncArrow": "always"
            }
        ],
        "unicode-bom": [2, "never"],
        "spaced-comment": [2, "never"],
        "max-len": [
            2,
            {
                "code": 150,
                "tabWidth": 4,
                "ignoreUrls": true,
                "ignoreStrings": true,
                "ignoreTemplateLiterals": true,
                "ignoreRegExpLiterals": true,
                "ignorePattern": "^\\s*var\\s.+=\\s*require\\s*\\("
            }
        ],
        "newline-after-var": 0,
        "no-tabs": [
            2,
            {
                "allowIndentationTabs": true
            }
        ],
        "padded-blocks": [2, "never"],
        "no-multiple-empty-lines": [2, { "max": 2, "maxEOF": 0, "maxBOF": 0 }],
        "multiline-comment-style": [2, "starred-block"],
        "multiline-ternary": [2, "always-multiline"],
        "max-lines": [2, 100],
        "max-params": [2, 6],
        "keyword-spacing": [
            2,
            {
                "after": true,
                "before": true
            }
        ],
        "linebreak-style": 0,
        "function-call-argument-newline": [2, "consistent"],
        //eslint-plugin-import
        "import/no-unresolved": 0,
        "import/named": 0,
        "import/namespace": 0,
        "import/default": 0,
        "import/export": 2,
        "import/no-useless-path-segments": 0,
        "import/no-named-as-default-member": 0,
        "import/no-named-as-default": 0,
        "import/no-self-import": 0,
        "import/no-duplicates": 0,
        "import/no-extraneous-dependencies": 0,
        "import/order": 0,
        "import/no-cycle": 0
    },
    "settings": {
        "import/resolver": {
            "babel-module": {}
        }
    }
}