* linguist-vendored
* linguist-language=JavaScript
*.js linguist-vendored=false
*.css             text
*.js              text
*.json            text
*.jsx             text
*.scss            text diff=css
*.ts              text
*.tsx             text

# Linters
.eslintrc         text

# Configs
.babelrc          text
.editorconfig     text
.env              text
.gitattributes    text
*.gif             binary
*.ico             binary
*.jpg             binary
*.svg             text

# Fonts
*.ttf             binary
*.eot             binary
*.otf             binary
*.woff            binary
*.woff2           binary

# Executables
*.exe             binary
*.pyc             binary
