@import "../../theme/variables";

$md-padding: 15px 16px;
$sm-padding: 11px 12px;
$xs-padding: 8px 12px;

.Button {
	border-radius: 4px;
	line-height: 1em;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 500;

	&.grey {
		background-color: $grey-100;
		color: $grey-700;

		&:hover {
			background-color: $orange-400;
			color: #fff;
		}
	}

	&.orange {
		background-color: $orange-400;
		color: #fff;

		&:hover {
			background-color: $grey-800;
		}
	}

	&.orange-light {
		background-color: $orange-100;
		color: $orange-400;
	}

	&.outline {
		background-color: white;
		color: $grey-800;
		box-shadow: inset 0 0 0 2px $grey-200;
		transition: 0.3s ease all;

		&:hover {
			box-shadow: inset 0 0 0 2px $orange-400;
			background-color: $orange-400;
			color: #fff;
		}
	}

	&.transparent {
		background-color: transparent;
		transition: 0.3s ease all;

		&:hover {
			color: $grey-700;

			span {
				color: $grey-700;
			}
		}
	}

	&.white {
		background-color: #fff;
		color: $orange-400;

		&:hover {
			background-color: $orange-400;
			color: white;
		}
	}

	&.md {
		padding: $md-padding;
	}

	&.sm {
		padding: $sm-padding;
	}

	&.xs {
		padding: $xs-padding;
	}
}
