@mixin transition-animation {
	transition: 0.3s ease all;
}

@mixin hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

@mixin flex-row($align-items: center, $flex-wrap: nowrap, $justify-content: space-between) {
	display: flex;
	align-items: $align-items;
	justify-content: $justify-content;
	flex-wrap: $flex-wrap;
}

@mixin invalid {
	border: 2px solid $red;

	&::placeholder {
		color: $grey-800;
	}

	&:focus {
		box-shadow: none;
	}
}

@mixin disabled {
	background-color: $grey-200;
	border: 2px solid $grey-300;
	opacity: 0.6;
	pointer-events: none;

	&::placeholder {
		color: $grey-400;
	}

	&:focus {
		box-shadow: none;
	}
}
