@import "./Palette/Colorful";

//standart
$orange-100: #F9EDE7;
$orange-400: #EF6722;

//colors
$yellow: #F9AC12;
$red: #DC3532;
$green: #6CC93E;
$blue: #236EE8;

//layout
$header: #ffb022;

//grey
$grey-100: #F5F6F7;
$grey-200: #EBECED;
$grey-300: #C5C6C7;
$grey-400: #A7A8AA;
$grey-500: #898A8C;
$grey-600: #6B6C6F;
$grey-700: #404144;
$grey-800: #222426;


//sections
$section_orange:#ff8d00;

//Concepts Header
$height_padding_size: 10px;
$width_main_input: 500px;