.Concepts_search_select{
    min-width: 90px;
    justify-content: center;
    .ScrollArea{
        .SelectOption{
            font-size: 12px;
            padding: 7px 10px;
        }
    }    
}
.Concepts_search_input{
    height: 100%;
}