@import "../../../theme/variables";
@import "../../../theme/mixins";

.SelectCategories {
	position: relative;
	.options {
		.scrollArea > *{
			overflow: hidden !important;
		}
		&_List{
			overflow-y: inherit;
		}
	}

	&.opened {
		svg.SvgIcon {
			transform: translate(-50%, -50%) rotate(180deg);
		}
	}

	.selected,
	.SelectOption {
        height: 100%;
		border-radius: 4px;
		outline: none;
		color: $grey-700;
		font-weight: 500;
		position: relative;
		background-color: $grey-100;
		cursor: pointer;
		border: 2px solid transparent;
		transition: 0.2s ease all;
		
		.SvgIcon {
			position: absolute;
			width: 10px;
			height: 5px;
			right: 12px; 
			fill: $grey-500;
			top: 50%;
			transform: translate(-50%, -50%);
			transition: 0.2s ease all;
		}
	}

	&.invalid {
		.selected {
			border-color: transparent;
			@include invalid;
		}
	}

	&.disabled {
		.selected {
			border-color: transparent;
			@include disabled;
		}
	}

	&.lg {
		.selected,
		.SelectOption {
			font-size: 16px;
			line-height: 16px;
			padding: 18px 40px 18px 20px;
		}
	}

	&.md {
		.selected,
		.SelectOption {
			font-size: 1em;
			line-height: 1em;
			padding: 15px 16px;
		}
	}

	&.sm {
		.selected,
		.SelectOption {
			font-size: 1em;
			line-height: 1em;
			padding: 11px 12px;
		}
	}
	.SelectOption {
		min-width: 100%;
		background-color: #fff;
		border: none;
		&:hover {
			background-color: $grey-100;
			.SvgIcon{
				transform: translate(-50%, -50%);
			}
		}
		//hover elements
		&_List{
			background-color: #ffffff;
			position: absolute;
			top: 0;
			transition: 0.2s ease all;
			// opacity: 0;
			left: 101%;
			min-height: 100%;
			min-width: 100%;
			display: flex;
			box-shadow: 0 6px 24px rgba(107, 108, 111, 0.16), 0 0 2px rgba(107, 108, 111, 0.24);
			border-radius: 4px;
			justify-content: space-around;
			padding: 10px;
			
			&:hover {
				background-color: $grey-100;
			}
			&_Block{
				margin-right: 10px;
				z-index: $low_level_index;
				&_Subsec{
					justify-content: flex-end;
					padding: 5px;
					margin-left: 10px;
					li {
						margin-bottom: 7px;
						&:hover{
							background-color: $grey-300;
						}
					}
				}
				&_Title{
					justify-content: flex-start;
					padding: 5px;
					color: $grey-500;
				}
			}
		}
	}
}
